@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-12">
        <h1 class="display-4">ClubRight Screening Assessment</h1>
        <p>You have 90 minutes for this assessment. Please say how long and how you found it in "How did you find this assessment?".  (optional: this is your opportunity to show some flair!)</p>
    </div>

    <div class="col-4 text-start pe-5">
        <ol>
            <li class="mb-3">
                While debugging, any changes to the razor page will need to the whole application to be re-built/re-run for changes to take effect. Change the project file so that you can make UI changes without restarting.
            </li>
            <li class="mb-3">
                Create a button on the page that increments a digit on the page (this should be a server side call, not Javascript (apart from any inbuilt ajax functions))
            </li>
            <li class="mb-3">
                Create a second page which can be accessed from the nav menu, the contents of the page should be a header that says "Number of clicks" with a paragraph that says "The button was pressed X times" (replacing X for how many times the button was pressed in question 2)
            </li>
            <li class="mb-3">
                Create a button that takes a string as an input
                <ul>
                    <li>Reverse this string and output it on the page (eg "The quick brown fox" will output as "xof nworb kciuq ehT")</li>
                    <li>Reverse the words from the input string and output it on to the page (eg "The quick brown fox" will output as "fox brown quick The")</li>
                </ul>
            </li>
        </ol>
    </div>

    <div class="col">
        <div class="mb-5">
             <form method="post" asp-action="Increment">
            <button class="btn-class" type="submit">Counter</button>
        </form>
        <br/>
        <p>Count: @ViewBag.Count</p>
            <hr/>
        <h3>Add your solution to question 2 here</h3>
        <p>
            I modified three files: HomeController, Index.cshtml, and Program.cs.
            I added a new functionality to implement a counter that increments each time a button is clicked.
            To track the counter value, I used the session feature in the controller.
            Initially, the session value is set to zero, and with each button click, it increments by one.
            After incrementing, the counter value is stored in a ViewBag and passed to the view.
            The view page then displays this ViewBag value on the screen.
            To enable session usage in the controller, I also made the necessary configurations in the Program.cs file. 
        </p>
        </div>

        <div class="mb-5">
            <h3>Add your solution to question 3 here</h3>
            <p>
            I created a new view file named Clicks.cshtml, where I displayed the ViewBag value below the text. This value is retrieved from the controller.
            To enable navigation to this view, I added a new navigation link in the _Layout.cshtml file located in the Views/Shared folder.
        </p>
            <hr/>
        </div>

        <div class="mb-5">
            <h4>How did you find this assessment?</h4>
            <p>I found the assessment quite straightforward. The questions were clear, it test the ability of critical thinking and integration of developer."</p>
        </div>
    </div>
    <div class="col">
       
    </div>
</div>
